[Unit]
Description=Chromium Kiosk
Wants=graphical.target
After=graphical.target
 
[Service]
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/{User}/.Xauthority
Type=simple
ExecStart=/bin/bash /usr/local/bin/kiosk.sh
Restart=on-abort
User={User}
 
[Install]
WantedBy=graphical.target
